---

import PostCard from "../components/PostCard.astro";
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import GridPostCards from "../components/GridPostCards.astro"

import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("blog");

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>THE BLOG - by catfurr</title>

		<script>
			window.onload = function() {
				var toggle = document.getElementById('darkmodetoggle');
				var htmlHead = document.getElementsByTagName('body')[0];
				var sunicon = document.getElementById('sunicon');
				var moonicon = document.getElementById('moonicon');
				toggle.onclick = function() {
					if (htmlHead.classList.contains("dark")) {
						htmlHead.classList.remove("dark");
						sunicon.classList.remove("hidden");
						moonicon.classList.add("hidden");
					} else {
						htmlHead.classList.add("dark");
						moonicon.classList.remove("hidden");
						sunicon.classList.add("hidden");
					}
				}
			}
		</script>
	</head>
	<body background="bg-topography.svg" bgcolor="#FFFFFF" class="px-44">
		<Header />
        <div class="my-10 py-5 border-y-2 border-gray-400 text-center">
			<h1 class="text-9xl font-bold text-black dark:text-white">
				THE BLOG
			</h1>
		</div>
        <!-- <div class="my-10 px-20">
            <div class="text-center mb-9">
                <div class="font-inter mb-3">
                    <div class="text-purple-600">Our blog</div>
                    <div class="text-2xl font-semibold">Stories and interviews</div>
                </div>
                <div class="text-slate-500 font-light px-40">
                    Subscribe to learn about new product features, the latest in technology, solutions, and updates.
                </div>
            </div>
            <div class="px-38">
                <div class="flex gap-4 py-1">
                    <input type="text" placeholder="Enter your email" class="rounded-md w-64 border-slate-200">
                    <button class="rounded-lg bg-purple-600 text-white py-2 px-3">Subscribe</button>
                </div>
                <div class="text-slate-500 font-light text-xs">We care about your data in our <a href="" class="underline">privacy policy</a></div>
            </div>
        </div> -->

        <div class="blog">
            <div class="my-8">
                <div class="text-xl mb-4 font-bold">Recent blog posts</div>
                <div class="grid grid-rows-2 grid-flow-col gap-6">
					<div class="row-span-2">
						<PostCard post={allBlogPosts[0]} />
					</div>
                    <PostCard post={ allBlogPosts[1] } direction="row" />
					<PostCard post={ allBlogPosts[2] } direction="row" />
                </div>
            </div>

            <div class="section2">
                <PostCard post={ allBlogPosts[3] } direction="row" />
            </div>

            <GridPostCards />
        </div>

        <Footer />
    </body>
</html>
