<div class="my-10 px-20">
    <div class="text-center mb-9">
        <div class="font-inter mb-3">
            <div class="text-purple-600">Our blog</div>
            <div class="text-2xl font-semibold">Stories and interviews</div>
        </div>
        <div class="text-slate-500 font-light px-64">
            Subscribe to learn about new product features, the latest in technology, solutions, and updates.
        </div>
    </div>
    <div class="px-64">
        <div class="flex gap-4 py-1">
            <input type="text" placeholder="Enter your email" class="rounded-md w-64 border-slate-200 border-2 pl-2">
            <button class="rounded-lg bg-purple-600 text-white py-2 px-3">Subscribe</button>
        </div>
        <div class="text-slate-500 font-light text-xs">We care about your data in our <a href="" class="underline">privacy policy</a></div>
    </div>
</div>