

<footer class="py-5 flex gap-4 text-sm font-light">
    <div class="copyright">© 2023</div>
    <div class="flex gap-4">
        <a href="https://twitter.com/">Twitter</a>
        <a href="https://linkedin.com/">LinkedIn</a>
        <a href="https://gmail.com/">Email</a>
        <a href="https://google.com/">RSS feed</a>
        <a href="https://google.com/">Add to Feedly</a>
    </div>
</footer>