

<footer class="py-5 flex gap-4 text-sm font-light">
    <div class="copyright">© 2023</div>
    <div class="flex gap-4">
        <a href="">Twitter</a>
        <a href="">LinkedIn</a>
        <a href="">Email</a>
        <a href="">RSS feed</a>
        <a href="">Add to Feedly</a>
    </div>
</footer>